<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-social.css">
    <script src="https://kit.fontawesome.com/c78247299e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <span><i class="fas fa-info"></i></i></span> Facts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-lg-right" id="mynav">
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) { %>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register" class="nav-link">Register</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link disabled">Signed In As <%= currentUser.username %></a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout <span><i class="fas fa-sign-out-alt"></i></span></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center mt-2">
        <div class="row justify-content-center">
            <div class="col-9 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
            </div>
        </div>        
    </div>