<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c78247299e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="width: 100vw; height: 100vh; position: relative;">
        <div class="d-flex justify-content-center" style="position: absolute; top: 50vh; left: 20vw;">
            <h1 class="display-1">404 Page not found</h1>
            
        </div>
        <a href="/home" class="btn btn-success mt-5"><span><i class="fas fa-home"></i></span> Go back home</a>
    </div>
</body>
</html>