<%- include("partials/header") %>

<div class="container">
    <h1 class="display-4 text-center">HomePage</h1>
    <div class="row justify-content-center align-items-center" style="height: 400px;">
        <div class="col-6 col-md-4">
            <a href="/fact" class="btn btn-lg btn-block btn-info shadow-lg">Check out the Fact page</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>