<%- include("partials/header") %>
<div class="container">
    <h3 class="display-4">Secret Page</h3>
    <form action="/logout" method="GET">
        <button class="btn btn-danger">Logout</button>
    </form>
</div>
<%- include("partials/footer") %>